html, body{
  margin: 0;
  padding: 0;
}


.header-bg{
  background: url('bg.jpg') no-repeat ;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
.bg-light{
  background-color: transparent!important;
  padding: 1.5rem;
}
.nav-link{
  padding-right: 1.2rem;
  color: green!important;
  font-weight: 900;
}
.navbar-brand{
  font-size: 30px;
  font-weight: 800;
  color: #fff!important;
  letter-spacing: 4px;
}
.jumbotron{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    color: #fff;
}

element.style {
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    margin-top: 2.5rem;
    margin-right: 3.5rem;
}
.about-desc{
  margin-top: 5rem;
  padding: 0 20%;
  margin-bottom: 5rem;
}

.about-desc h1{
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.about-features-icon {
  margin-top: 2.3rem;
}

.about-features-icon-right {
  margin-top: 2.3rem;
}
.about-features-icon i{
  float: right;
}
.about-features-icon-right i{
  float: left;
  margin-top: ;
}

.about-features{
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
}

.about-features-right{
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
}
.imag{
  margin-top: 1rem;
}

.about-features-details{
  text-align: left;
}

.about-features-details-right{
  text-align: right;
}

.download{
  color: #fff;
}

.parallax-background{
  background: url('dd.jpeg');
  -webkit-background-size: cover;
  background-size: cover;
}
.overlay{
  background: rgba(0,0,0,0.4);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contact-us{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.contact-us h2{
  margin-bottom: 2rem;
}

.contact-us p{
  padding: 0 20%;
}
.sbm{
  margin-top: 0;
}
.footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: #333;
	color: #fff;
}
.wow {
	-webkit-animation-delay: 0.4s;
}
